{% if marp_chapter_background_color is defined %}
<!-- _backgroundColor: {{ marp_chapter_background_color }} -->
{% endif %}
{% if marp_chapter_background_image is defined %}
<!-- _backgroundImage: url({{ marp_chapter_background_image }}) -->
{% endif %}
{% if slide.chapter_header is defined %}
<!-- header: '{{ slide.chapter_header }}' -->
{% endif %}
{% if slide.chapter_footer is defined %}
<!-- footer: '{{ slide.chapter_footer }}' -->
{% endif %}

# {{ slide.title }}

{{ slide.chapter }}
