{% if marp_cover_background_color is defined %}
<!-- _backgroundColor: {{ marp_cover_background_color }} -->
{% endif %}
{% if marp_cover_background_image is defined %}
<!-- _backgroundImage: url({{ marp_cover_background_image }}) -->
{% endif %}
{% if marp_cover_header is defined %}
<!-- header: '{{ marp_cover_header }}' -->
{% endif %}
{% if marp_cover_footer is defined %}
<!-- footer: '{{ marp_cover_footer }}' -->
{% endif %}

# {{ slide.title }}

## {{ slide.subtitle | replace("\n","<br>") }}
